#em {
    background-color: rgb(10, 237, 237);
    width: 5em; 
    font-size: 2em;
}
#ex {
    background-color: rgb(152, 136, 73);
    width: 10ex; 
    font-size: 5ex;
}

#rem {
    background-color: rgb(189, 62, 128);
    width: 15rem; 
    font-size: 3rem;
}

#VW {
    background-color: rgb(152, 73, 91);
    width: 23vw; 
    font-size: 5vw;
}

#VH {
    background-color: rgb(126, 73, 152);
    width: 25vh; 
    font-size: 3vh;
}

#Vmin {
    background-color: rgb(86, 39, 127);
    width: 25vmin; 
    font-size: 5vmin;
}

#Vmax {
    background-color: rgb(39, 153, 176);
    width: 20vmax; 
    font-size: 3vh;
}

#nth-child {

    background-color: rgb(251, 138, 234);

}


#nth-last-child{

    background-color: rgb(12, 52, 182);

}

#empty{

    background-color: rgb(154, 12, 182);

}

ul li {
    border-bottom: 1px dotted #000;
    font-size: 50px;
}
li:first-child {
    border-top: 1px dotted #AF0; 
    background-color: #AF0;
    border-bottom: none;
    list-style-type: square;
}
li:last-child {
    color: #AF0; 
    list-style-type: square;
}

p:nth-of-type(2) {
    background: rgb (125,178,125);
}
s
em:nth-last-of-type(2)
{
    background: rgb(125, 178, 125);
}
a:link    { color: red;   }
a:visited { color: green; }
a:hover {
    color: rgb(70, 216, 70);
}

a:active {
    color: rgb(104, 4, 4);
  }
a:focus { color: rgb(193, 116, 23); }

a:lang {color: rgb(189, 62, 128)}